.video-list-card{
    display: flex;
    flex: 4;
    gap: 10px;
}

.video-list-card--image{
    /* width: 320px; */
    height: 100%;
    /* object-fit: contain; */
}

.video-list-card--title{
    font-size: 20px;
}