.search-bar{
    width: 95%;
    height: 80px;
    margin: 10px auto;
    border: 1px solid white;
    box-shadow: 3px -5px 78px -22px rgba(0,0,0,0.61);
    -webkit-box-shadow: 3px -5px 78px -22px rgba(0,0,0,0.61);
    -moz-box-shadow: 3px -5px 78px -22px rgba(0,0,0,0.61);
}

.search-bar-input {
   width: 90%;
   margin: 20px 60px;
   padding: 10px;
   border: none;
   border-bottom: 1px solid #000;
   outline: none;
}

