* {
    margin: 0;
    padding: 0;
}

.home-wrapper {
    display: flex;
    padding: 20px;
    gap: 20px;
}


.video-list-container{
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 30px;
}